<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DYAlertControllerExample3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4487F3D1DE547940015E08E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4487F591DE54BA70015E08E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B45496CC1C9959F300831F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
